*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  width: 100%;
  overflow-x: hidden;
}
#one{
  background-color: rgb(198, 52, 235);
  height: 50px;
  width: 1600px;
  position:sticky;
  top:0px;
  z-index: 3;
}
h4{
  color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  text-align: left;
}
#two{
  height: 80px;
  width: 1600px;
  color: black;
  background-color: azure;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
}
a{
  margin: 20px;
}
#glorious{
  margin-left: 40px;
  font-size: 20px;
  font-family: 'poppins',sans-serif;
  font-weight: 600;
}
#three{
  display: flex;
  position: relative;
  gap: 0px;
}
.text{
  position:absolute;
  top:30%;
  left:10%;
  font-size: 50px;
  color:black;
  font-weight:normal;
}
.text2{
  position:absolute;
  top:50%;
  left : 10%;
  font-size:18px;
  line-height:1.4;

}
button{
  background-color:rgb(235, 164, 234);
}
#four{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}



  
